html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
button:nth-child(2){
    color: crimson;
}

button:before{
content: "A ";
color: coral;
}

button:hover{
    color: aquamarine;
}

button{
    float: left;
}
button:nth-child(3n){
    clear: left;
}

.button1:hover{
    background-color: brown;
}

.button1 {
    background-color: blue;
    color: white;
    margin: 20px;
    padding: 10px;
    font-size: medium;
    width: 100px;
    height: 50px;
}

.button2 {
    font-family: "Comic Sans MS";
    font-size: medium;
    color: red;
    margin: 20px;
    padding: 5px;
    background-color: white;
    width: 100px;
    height: 50px;
}

.button3 {
    font-family: "Courier New";
    text-decoration: underline;
    color: black;
    background-color: yellow;
    margin: 20px;
    padding: 5px;
    width: 100px;
    height: 50px;
    font-size: medium;
}

.button4 {
    border: 4px dashed pink;
    color: blue;
    margin: 20px;
    padding: 5px;
    font-size: medium;
    background-color: white;
    width: 100px;
    height: 50px;
}