html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.body {
    background-color: rgb(16, 162, 128);
}
.title {
    margin-top: 15px;
    margin-left: 90px;

}
.div-1 {
    border: 3px double lightblue;
    width: 350px;
    height: 500px;
    margin-left: 550px;
    background-color: rgb(21, 149, 15);
}
.content-div {
    margin-left: 90px;
}
.radio-div{
    margin-top: 30px;
    margin-right: 50px;
}
.button-div {
    margin-top: 30px;
    margin-left: 60px;
}
.div-2 {
    background-color: lightblue;
    margin-top: 25px;
    border: 3px double black;
}
.content {
    margin-left: 20px;
}